h1 =t :password_reset
p =t :choose_a_new_password

=form_for @user, as: :password_reset, url: update_password_reset_path(params[:token]), builder: AngularValidation::FormBuilder do |form|
  =hidden_field_tag :username, @user.username

  .form-group
    =form.label :password
    =form.password_field :password, class: 'form-control', required: 'required'
    =form.ng_messages :password, additional_validations: { required: t('errors.messages.field_is_required') }

  .form-group
    =form.label :password_confirmation
    =form.password_field :password_confirmation, class: 'form-control', required: 'required'
    =form.ng_messages :password, additional_validations: { required: t('errors.messages.field_is_required') }

  =form.submit value: t(:continue), class:'btn.btn-default'


