h2 =t :change_password

=form_for current_user, as: :password_update, url: update_password_path, builder: AngularValidation::FormBuilder do |form|
  .form-group
    =form.label :username
    =label_tag nil, current_user.username, class: 'form-control readonly'

  .form-group
    =form.label :current_password
    =form.password_field :current_password, class: 'form-control', required: 'required'
    =form.ng_messages :current_password, additional_validators: { required: t('errors.messages.field_is_required') }

  .form-group
    =form.label :password
    =form.password_field :password, class: 'form-control', required: 'required'
    =form.ng_messages :password, additional_validators: { required: t('errors.messages.field_is_required') }

  .form-group
    =form.label :password_confirmation
    =form.password_field :password_confirmation, class: 'form-control', required: 'required'
    =form.ng_messages :password_confirmation, additional_validators: { required:  t('errors.messages.field_is_required') }

  =form.submit value: t(:continue), class: 'btn.btn-default'
