div ng-controller='EventController' ng-init="init()"
  =form_for :event, as: 'eventForm', url: '{{ actionUrl }}' , builder: AngularValidation::FormBuilder , html: { 'ng-submit' => 'submit($event)' } do |f|
    .form-group
      =f.label :description
      =f.text_field :description, class: 'form-control', placeholder: t(:enter_a_description)
      =f.ng_messages :description

    #starting_date_time.form-group
      =f.label :starting_on
      .form-inline
        #start_date_container
          =f.datetime_select  :starting_on,
                              :'data-date-format' => 'MM/DD/YYYY',
                              :'data-date-placeholder' => 'ex: 05/22/2016'
          =f.ng_messages :starting_on
        #start_time_container ng-show="!event.isAllDay"
          =f.datetime_select  :starting_at,
                              icon_class: 'glyphicon-time',
                              :'data-date-format' => 'h:mm A',
                              :'data-date-placeholder' => 'ex: 9:30 am',
                              :'ng-required' => '!event.isAllDay'
          =f.ng_messages :starting_at

    .checkbox
      label
        =f.check_box :is_all_day, :'ng-click' => "event.startingAt = '12:00 am'"
        =t :is_all_day

    .form-group
      =f.label :notes
      =f.text_area :notes, class: 'form-control', rows: 3, placeholder: t(:enter_event_notes)
      =f.ng_messages :notes

    =f.button type: :submit, :class => 'btn btn-success', 'ng-disabled' => '$submitted'