=form_for @event, builder: AngularValidation::FormBuilder do |f|
  .form-group
    =f.label :description
    =f.text_field :description, class: 'form-control'
    =f.ng_messages :description

  .checkbox
    label
      =f.check_box :is_all_day, 'ng-change' => "dateTimeFormat = event.isAllDay ? 'YYYY-MM-DD' : 'YYYY-MM-DD hh:mm A'"
      =t :is_all_day

  .form-group
    =f.label :starting_at
    =f.datetime_select :starting_at,
                       ng_model: 'event.startingAt',
                       format: 'dateTimeFormat',
                       value: 'event.startingAt',
                       ng_init: "dateTimeFormat = '#{@event.is_all_day? ? 'YYYY-MM-DD' : 'YYYY-MM-DD hh:mm A'}'"
    =f.ng_messages :starting_at

  .form-group
    =f.label :notes
    =f.text_area :notes, class: 'form-control', rows: 3
    =f.ng_messages :notes

  =f.submit class:'btn.btn-success'