header.calendar-header {
  font-size: 28px;
  margin: 20px 0;

  a {
    margin: 0 10px;
  }
}

table.calendar-body {
  margin-left: auto;
  margin-right: auto;

  thead {
    background: #3a3636;
    color: #fff;
  }
  tbody {
    tr {
      td {
        @media (max-width: $screen-sm-min) {
          height: 52px;
          .event {
            display: none;
          }
        }
        @media (min-width: $screen-sm-min) {
          width: 102px;
          height: 90px;

          .events {
            height: 70px;
          }
        }
        @media (min-width: $screen-md-min) {
          width: 133px;
          height: 95px;

          .events {
            height: 75px;
          }
        }
        @media (min-width: $screen-lg-min) {
          width: 160px;
          height: 135px;

          .events {
            height: 115px;
          }
        }

        &.prev-month, &.next-month {
          color: gray;
        }

        &.wday-0, &.wday-6 {
          background: #e2e2e2;
        }

        &.day {
          padding: 0;

          .summary {
            width: inherit;
            height: inherit;

            > a { color: black; }
            .calendar-day {
              width: inherit;
              height: inherit;
              overflow: hidden;
              text-overflow: clip;
              white-space: nowrap;

              .date-label {
                font-weight: bold;
                float: right;
                margin: 6px 4px 9px 4px;
                line-height: 1.0;
              }

              .event {
                font-size: 13px;
                margin: 6px 2px;
                text-align: start;
                line-height: 1;
                clear: both;
                @include ellipsis;

                &.all-day {
                  text-align: center;
                }

                a {
                  color: black;

                  &:hover {
                    text-decoration: none;
                  }
                }

                .start-time {
                  display: inline-block;
                  font-weight: 500;
                  width: 58px;
                  text-align: right;
                }

                .description {
                  @include ellipsis;
                  display: inline;
                  font-weight: 200;
                }
              }
            }

          }
        }
      }
    }
  }
}
