header.calendar-header {
  font-size: 28px;
  margin: 20px 0;

  a {
    margin: 0 10px;
  }
}

table.calendar-body {
  margin-left: auto;
  margin-right: auto;

  thead {
    background: #3a3636;
    color: #fff;
  }
  tbody {
    tr {
      td {
        @media (max-width: $screen-sm-min) {
          height: 52px;
          .event {
            display: none;
          }
        }
        @media (min-width: $screen-sm-min) {
          width: 102px;
          height: 90px;
        }
        @media (min-width: $screen-md-min) {
          width: 133px;
          height: 95px;
        }
        @media (min-width: $screen-lg-min) {
          width: 160px;
          height: 120px;
        }

        &.prev-month, &.next-month {
          color: gray;
        }

        &.wday-0, &.wday-6 {
          background: #e2e2e2;
        }

        &.day {
          padding: 0;

          .calendar-day {
            width: inherit;

            .date-label {
              font-weight: bold;
              float: right;
              margin-bottom: 2px;
              margin-right: 4px;
            }

            .event {
              font-size: 13px;
              margin: 5px;
              text-align: start;
              clear: both;
              @include ellipsis;

              &.all-day {
                margin: 5px auto;
                text-align: center;
              }

              a {
                color: black;

                &:hover {
                  text-decoration: none;
                }

                .start-time {
                  display: inline-block;
                  font-weight: 500;

                }

                .description {
                  @include ellipsis;
                  display: inline;
                  font-weight: 200;
                }
              }
            }
          }
        }
      }
    }
  }
}
