#starting_date_time {
  .form-inline {
    #start_date_container, #start_time_container {
      display: inline-block;
      vertical-align: top;

      input {
        width: 135px;
      }

      ng-messages {
        display: block;
      }
    }
  }
}