h1 {
  margin: 20px 0;
}

form {
  margin: 15px 0;

  .form-control.readonly {
    border: none;
    box-shadow: none;
    font-weight: normal;
    padding-left: 0;
    font-size: 18px;
    padding: 0;
  }

  input[type=submit] {
    margin: 20px 0px;
  }

  ng-messages.ng-active {
    color: #B00100;
  }

  .error {
    color: #B00100
  }
}

.alert {
  width: 100%;
  border: 1px solid #ff3f3f;
  background-color: #fff5f5;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0.83333em;
}